<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>No.</th>
            <th>Invoice</th>
            <th>Date</th>
            <th>Title</th>
            <th>Member Name</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody>
          <% for( let idxBk = 0; idxBk < booking.length; idxBk++ ) { %>
            <tr>
              <td><%= idxBk + 1 %> </td>
              <td>#<%= booking[idxBk].invoice %></td>
              <td><%= booking[idxBk].bookingStartDate.toLocaleString().split(',')[0] %> &minus; <%= booking[idxBk].bookingEndDate.toLocaleString().split(',')[0] %></td>
              <td><%= booking[idxBk].itemId.title %></td>
              <td><%= booking[idxBk].memberId.firstName %> <%= booking[idxBk].memberId.lastName %></td>
              <td><%= booking[idxBk].payments.status %></td>
              <td><a href="/admin/booking/<%= booking[idxBk].id %>" class="btn btn-success btn-sm btn-circle"><i class="fas fa-eye"></i></a></td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>