<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addBank">
      <i class="fas fa-plus"></i>
    </button>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>No.</th>
            <th>Bank Name</th>
            <th>Account Number</th>
            <th>Account Name</th>
            <th>Image</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% for( let i = 0; i < bank.length; i++ ) { %>
            <tr>
              <td><%= i + 1 %> </td>
              <td><%= bank[i].bankName %> </td>
              <td><%= bank[i].accountNumber %> </td>
              <td><%= bank[i].accountName %> </td>
              <td>
                <img src="/<%= bank[i].imageUrl %>"  alt="<%= bank[i].imageUrl %>" height="20px">
              </td>
              <td>
                <form action="/admin/bank/<%= bank[i].id %>?_method=DELETE" method="POST"> 
                  <a href="javascript:void()" type="button" class="btn btn-sm btn-warning btn-circle btn-edit" data-id="<%= bank[i].id %>" data-bankname="<%= bank[i].bankName%>" data-accountnumber="<%= bank[i].accountNumber%>" data-accountname="<%= bank[i].accountName%>"><i class="fas fa-edit"></i></a>
                  <button type="submit" class="btn btn-sm btn-danger btn-circle"><i class="fas fa-trash"></i></button>
                </form>
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>